<!DOCTYPE html>
<html>
<head>
<title>Demonstration</title>
<meta charset="utf-8">
</head>
<body>
<h2>Enter your name:</h2>
<form action="display.php" method="POST">
<p>First name: <input type="text" name="firstname" /></p>
<p>Second name: <input type="text" name="lastname" /></p>
<input type="submit" value="Send">
</form>
<br>
<br>
<br>
{{result.stdout}}
</body>
</html>